body{
  background: linear-gradient(to bottom right, #c1c1d9 , #f7ebd3);
}

.software{	
  background: linear-gradient(to bottom right, #8484a5 0%,  #e59b89 40%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "futura-pt", sans-serif;
}

.fa-git-square{
  color: #e79580;
  -webkit-transition: text-shadow 0.2s linear;
    -moz-transition: text-shadow 0.2s linear;
    -ms-transition: text-shadow 0.2s linear;
    -o-transition: text-shadow 0.2s linear;
    transition: text-shadow 0.2s linear;
}

.fa-git-square:hover {
    -webkit-text-shadow: 2px 8px 17px  rgba(0,0,0,0.2), 0 6px 20px  rgba(0,0,0,0.19);
    text-shadow: 2px 8px 17px  rgba(0,0,0,0.2), 0 6px 20px  rgba(0,0,0,0.19);
}

.material-icons{
  color: #e79580;
}

nav{
  background-color:rgba(0, 0, 0, 0);
}

li{
  margin-bottom: 0.2rem
}

nav .brand-logo{
  color: #716b71
}

.dropdown-content{
  border-radius: 10px;
}

.dropdown-content li>a{
  color: #8787ca
}

a{
  color: #8787ca
}

.btn{
  background-color: #e79580
}

.btn:hover{
  background-color: #8d7e85
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.moreInfo{
  font-size: 1.2rem;
}

nav{
  -webkit-box-shadow: 0 0; 
  box-shadow: 0 0;
}

.flip{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.m-t-0{
  margin-top: 0rem !important;
}

.m-t-1{
  margin-top: 1rem !important;
}

.m-t-2{
  margin-top: 2rem !important;
}

.m-b-0{
  margin-bottom: 0rem !important;
}

.m-b-1{
  margin-bottom: 1rem !important;
}

.m-b-2{
  margin-bottom: 2rem !important;
}

.m-l-0{
  margin-left: 0rem !important;
}

.m-l-1{
  margin-left: 1rem !important;
}

.m-l-2{
  margin-left: 2rem !important;
}

.m-l-3{
  margin-left: 3rem !important;
}

.m-r-0{
  margin-right: 0rem !important;
}

.m-r-1{
  margin-right: 1rem !important;
}

.m-r-2{
  margin-right: 2rem !important;
}

.p-b-0{
  padding-bottom: 0rem !important;
}

.p-b-1{
  padding-bottom: 1rem !important;
}

.p-b-2{
  padding-bottom: 2rem !important;
}
